POSTGRES_HOST=localhost
POSTGRES_DB=medstock_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=votre_mot_de_passe
API_BASE_URL=http://localhost:8000
DHIS2_URL=https://dhis2-benin.org/api/dataValueSets
DHIS2_USER=identifiant_medstock
DHIS2_PASSWORD=mot_de_passe_securise
